body{
  background-color: #669;
  color: white;
}
header{
  width: 90%;
  background-color: #660099;
  height: 80px;
  margin: 0px auto 0px;
  color: black;
  text-align: center;
  font-size: 2em;
  border-radius: 8px 15px ;
}
nav{
  width: 90%;
  background-color: #660099;
  margin: 0px auto 0px;
  color: black;
  text-align: center;
  font-size: 1em;
}
footer{
  width: 90%;
  background-color: #660099;
  margin: 10px auto 0px;
  color: black;
  text-align: center;
  font-size: 1em;
}
section{
  width: 55%;
  background-color: #660099;
  border: 2px solid #FFF;
  margin-top: 15px;
  color: black;
  text-align: center;
  font-size: 1em;
}
aside{
  width: 38%;
  background-color: #660099;
  border: 1px solid #FFF;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  color: black;
  text-align: center;
  font-size: 1em;
  position: absolute;
}
section, aside{
  display: inline-block;
}
article{
  width: 90%;
  border: 3px solid #FFF;
  margin: 10px auto;
  background-color: #999933;
}

li{
  font-style: oblique;
  display: inline;
  font-size: 2em;
  border: 3px;
  border-color: black;
  border-radius: 15px 5px;
  border-style: double;
}
p{
  text-align: left;
  margin: 10px 10px 10px 10px;
}
#contenido{
  width: 90%;
  height: auto;
  margin: 0px auto 0px;
  color: black;
}
figure{
  width: 90%;
  height: auto;
}


@media only screen and
 (max-width: 1020px) {
  section{
    width: 90%;
    border: 2px solid red;
    color: black;
    text-align: center;
    font-size: 1em;
  }
  aside{
    width: 90%;
    background-color: #660099;
    border: 1px solid red;
    color: black;
    text-align: center;
    position: relative;
  }
  section, aside{
    display:block;
  }
  article{
    width: 80%;
    border: 1px solid red;
    margin: 0 auto;
    background-color: #999933;
  }
}

@media only screen and
(max-width: 768px) {

  article{
    width: 80%;
    border: 1px solid yellow;
    margin: 0 auto;
    background-color: #FFF;
  }

  li{
    width: 30%;
    font-style: oblique;
    display: inline;
    font-size: 1em;
    border: 3px;
    border-color: black;
    border-radius: 15px 5px;
    border-style: double;
  }

}
